
QtPlayer/QtPlayer.pro.user
build-QtPlayer-Desktop_Qt_5_11_0_MinGW_32bit-Debug/.qmake.stash
build-QtPlayer-Desktop_Qt_5_11_0_MinGW_32bit-Debug/debug/QtPlayer.exe
build-QtPlayer-Desktop_Qt_5_11_0_MinGW_32bit-Debug/Makefile
build-QtPlayer-Desktop_Qt_5_11_0_MinGW_32bit-Debug/Makefile.Debug
build-QtPlayer-Desktop_Qt_5_11_0_MinGW_32bit-Debug/Makefile.Release
build-QtPlayer-Desktop_Qt_5_11_0_MinGW_32bit-Debug/debug/dialog.o
build-QtPlayer-Desktop_Qt_5_11_0_MinGW_32bit-Debug/debug/main.o
build-QtPlayer-Desktop_Qt_5_11_0_MinGW_32bit-Debug/debug/moc_dialog.cpp
build-QtPlayer-Desktop_Qt_5_11_0_MinGW_32bit-Debug/debug/moc_dialog.o
build-QtPlayer-Desktop_Qt_5_11_0_MinGW_32bit-Debug/debug/moc_predefs.h
build-QtPlayer-Desktop_Qt_5_11_0_MinGW_32bit-Debug/ui_dialog.h
